<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastro de Pet</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Página inicial</a></li>
                    <li class="breadcrumb-item active">Cadastro de Pet</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Cadastro</h3>

                <div class="card-tools">

                </div>
            </div>
            <div class="card-body">
               
                    <div class="form-group col-md-4">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="idade">Idade</label>
                        <input type="number" class="form-control" id="idade">
                    </div>
                    <div class="form-group col-md-4">
                        <label> Sexo</label><br>
                        <!-- <ng-select [items]="sexoData" class="col-md-4"></ng-select> -->
                    </div>
                
                <!--    <div class="form-group col-md-4">
                        <label> Espécie</label><br>
                        <ng-select2 [data]="sexoData" [options]="optionsSexo"  class="col-md-4"></ng-select2>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Raça</label><br>
                        <ng-select2 [placeholder]="'Selecione'" class="col-md-4"></ng-select2>
                    </div>
                    <div class="form-group col-md-6">
                        <label> Características</label><br>
                        <ng-select2 [placeholder]="'Selecione'" class="col-md-6"></ng-select2>
                    </div>
               
                    <div class="form-group col-md-4">
                        <label> Estado</label><br>
                        <ng-select2 [placeholder]="'Selecione'" class="col-md-4"></ng-select2>
                    </div>
                    <div class="form-group col-md-4">
                        <label> Cidade</label><br>
                        <ng-select2 [placeholder]="'Selecione'" class="col-md-4"></ng-select2>
                
                </div> -->
 
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="button" class="btn btn-warning font-weight-bold">Salvar</button>
        </div>
        <!-- /.card-footer-->
    </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->