<div class="card card-outline card-warning">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1"><b>Adote um Pet</b></a>
    </div>
    <div class="card-body">
        <p class="login-box-msg"></p>

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Senha"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-7">
                  
                </div>
                <!-- /.col -->
                <div class="col-5">
                    <app-button
                        [type]="'submit'"
                        [block]="true"
                        [loading]="isAuthLoading"
                        [disabled]="isFacebookLoading || isGoogleLoading"
                    >
                        Entrar
                    </app-button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        
    <!--    <p class="mb-1">
            <a [routerLink]="['/forgot-password']">Esqueci a senha</a>
        </p> -->
        <p class="mb-0">
            <a [routerLink]="['/register']" class="text-center">
                Faça seu cadastro
            </a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>
