<div class="wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">

                    <!-- <h1 class="m-0"> Adote um Pet</h1> -->
                </div>
                <!-- /.col
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Página inicial/</a></li>
                    </ol>
                </div>  /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="card col-md-12">
                <div class="card-body">

                    <form action="">
                        <div class="row">

                            <img src="assets/img/bichos.png" class="brand-image">
                            <div class="form-group col-lg-3 col-md-4 col-sm-12 col-xs-12 mt-5">

                                <label class="control-label">Espécie</label>
                                <ng-select2 [data]="especieData" [options]="options2" [placeholder]="'Selecione'" [(ngModel)]="pesquisa.idEspecie"
                                    class="col-md-12" name="especie"></ng-select2>

                            </div>
                            <div class="form-group col-lg-2 col-md-4 col-sm-12 col-xs-12 mt-5">

                                <label class="control-label"> Sexo</label>
                                <ng-select2 [data]="sexoData" [options]="options3" [placeholder]="'Selecione'" [(ngModel)]="pesquisa.sexo"
                                    class="col-md-12" name="sexo"></ng-select2>

                            </div>



                            <div class="form-group  col-lg-3 col-md-4 col-sm-12 col-xs-12 mt-5">
                                <label class="control-label">Cidade</label>
                                <ng-select2 [data]="cidadeData" [placeholder]="'Selecione'" [options]="options" [(ngModel)]="pesquisa.idCidade"
                                    class="col-md-12" name="cidade">
                                </ng-select2>

                            </div>
                            <button type="button" class="btn btn-warning font-weight-bold h-50" style="
                            margin-top: 7.5%;
                        " (click)="pesquisar()">Pesquisar</button>
                        </div>

                    </form>
                </div>

            </div>




            <div class="row">

                <div class="col-md-3" *ngFor="let animal of animais; let i = index" [attr.data-index]="i">
                  <div class="card">
                         <img *ngIf="i < 2" src="{{ animal.raca.especie.nome == 'Gato' ? 'assets/img/gato0.jpg' : 'assets/img/dog2.jpg'}}"  class="card-img-top rounded" alt="..." width="150" height="150">
                         <img src="assets/img/dog3.jpg"  *ngIf="i == 2" class="card-img-top rounded" alt="..." width="150" height="150">

                        <div class="card-body">
                            <h5 class="card-title">{{animal.nome}} | <small>{{animal.cidade.nome}}, {{animal.cidade.estado.sigla}} </small></h5>
                            <br>
                            <span class="badge rounded-pill bg-warning">{{animal.genero == 'F' ? 'Fêmea' : 'Macho' }}</span>&nbsp;
                            <span class="badge rounded-pill bg-warning">{{animal.porte}}</span>&nbsp;
                            <span class="badge rounded-pill bg-warning">{{animal.raca.nome}}</span>&nbsp;
                            <br>
                            <button type="button"
                                class="btn-sm btn-warning float-right font-weight-bold mt-1" (click)="verificaLogin(mymodal, animal.id)">Adotar</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- /.content -->

        <ng-template #mymodal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Termo de compromisso</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
         <b> Declaro assumir o seguinte compromisso:</b>
         <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>1.</b> Manter o animal adotado em boas condições de abrigo, higiene, alimentação e saúde, dando-lhe a devida atenção e cuidado;</li>
            <li class="list-group-item"><b>2.</b> Levar o animal periodicamente ao médico veterinário, para vacinação e vermifugação e sempre que se fizer necessário, com a finalidade de mantê-lo saudável;</li>
            <li class="list-group-item"><b>3.</b> Em hipótese alguma, tratar o animal com violência ou abandoná-lo;</li>
            <li class="list-group-item"><b>4.</b> Se, por alguma razão, não puder mais criá-lo, entrar em contato imediato com a Adote um Pet para definição em conjunto de seu novo destino, em hipótese alguma entregando-o a outra pessoa sem prévio conhecimento e concordância da Adote um Pet.</li>


        </ul>
        <hr/>
           <div class="form-check">
            <input class="form-check-input" type="checkbox" name="checkTermos"  [(ngModel)]="checkTermos" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Declaro que li e estou ciente das condições acima.
            </label>
          </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning"  [disabled]="!checkTermos" (click)="adotar()">Adotar</button>
          </div>
        </ng-template>


        <!-- <ng-template #modalSucesso let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Parabéns</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
           <b> Você acabou de dar o primeiro passo para adoção do seu Pet, em breve o tutor entrará em contato para dar prosseguimento na adoção!</b>

          <hr/>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Fechar</button>
            </div>
          </ng-template> -->
    </div>

